/*** HELPERS ***/
.p0  {padding: 0px !important;}
.p1  {padding: 1px !important;}
.p2  {padding: 2px !important;}
.p3  {padding: 3px !important;}
.p4  {padding: 4px !important;}
.p5  {padding: 5px !important;}
.p10 {padding: 10px !important;}
.p15 {padding: 15px !important;}
.p20 {padding: 20px !important;}
.pl0  {padding-left: 0px !important;}
.pl1  {padding-left: 1px !important;}
.pl2  {padding-left: 2px !important;}
.pl3  {padding-left: 3px !important;}
.pl4  {padding-left: 4px !important;}
.pl5  {padding-left: 5px !important;}
.pl10 {padding-left: 10px !important;}
.pl15 {padding-left: 15px !important;}
.pl20 {padding-left: 20px !important;}

/*padding-right*/
.pr0  {padding-right: 0px !important;}
.pr1  {padding-right: 1px !important;}
.pr2  {padding-right: 2px !important;}
.pr3  {padding-right: 3px !important;}
.pr4  {padding-right: 4px !important;}
.pr5  {padding-right: 5px !important;}
.pr10 {padding-right: 10px !important;}
.pr15 {padding-right: 15px !important;}
.pr20 {padding-right: 20px !important;}

/*padding-top*/
.pt0  {padding-top: 0px !important;}
.pt1  {padding-top: 1px !important;}
.pt2  {padding-top: 2px !important;}
.pt3  {padding-top: 3px !important;}
.pt4  {padding-top: 4px !important;}
.pt5  {padding-top: 5px !important;}
.pt10 {padding-top: 10px !important;}
.pt15 {padding-top: 15px !important;}
.pt20 {padding-top: 20px !important;}

/*padding-bottom*/
.pb0  {padding-bottom: 0px !important;}
.pb1  {padding-bottom: 1px !important;}
.pb2  {padding-bottom: 2px !important;}
.pb3  {padding-bottom: 3px !important;}
.pb4  {padding-bottom: 4px !important;}
.pb5  {padding-bottom: 5px !important;}
.pb10 {padding-bottom: 10px !important;}
.pb15 {padding-bottom: 15px !important;}
.pb20 {padding-bottom: 20px !important;}

/*margin*/
.m0  {margin: 0px !important; }
.m1  {margin: 1px !important; }
.m2  {margin: 2px !important; }
.m3  {margin: 3px !important; }
.m4  {margin: 4px !important; }
.m5  {margin: 5px !important; }
.m10 {margin: 10px !important; }
.m15 {margin: 15px !important; }
.m20 {margin: 20px !important; }

/*margin-top*/
.mt0  {margin-top: 0px !important; }
.mt1  {margin-top: 1px !important; }
.mt2  {margin-top: 2px !important; }
.mt3  {margin-top: 3px !important; }
.mt4  {margin-top: 4px !important; }
.mt5  {margin-top: 5px !important; }
.mt10 {margin-top: 10px !important; }
.mt15 {margin-top: 15px !important; }
.mt20 {margin-top: 20px !important; }

/*margin-bottom*/
.mb0  {margin-bottom: 0px !important; }
.mb1  {margin-bottom: 1px !important; }
.mb2  {margin-bottom: 2px !important; }
.mb3  {margin-bottom: 3px !important; }
.mb4  {margin-bottom: 4px !important; }
.mb5  {margin-bottom: 5px !important; }
.mb10 {margin-bottom: 10px !important; }
.mb15 {margin-bottom: 15px !important; }
.mb20 {margin-bottom: 20px !important; }


/*margin-left*/
.ml0  {margin-left: 0px !important; }
.ml1  {margin-left: 1px !important; }
.ml2  {margin-left: 2px !important; }
.ml3  {margin-left: 3px !important; }
.ml4  {margin-left: 4px !important; }
.ml5  {margin-left: 5px !important; }
.ml10 {margin-left: 10px !important; }
.ml15 {margin-left: 15px !important; }
.ml20 {margin-left: 20px !important; }

/*margin-right*/
.mr0  {margin-right: 0px !important; }
.mr1  {margin-right: 1px !important; }
.mr2  {margin-right: 2px !important; }
.mr3  {margin-right: 3px !important; }
.mr4  {margin-right: 4px !important; }
.mr5  {margin-right: 5px !important; }
.mr10 {margin-right: 10px !important; }
.mr15 {margin-right: 15px !important; }
.mr20 {margin-right: 20px !important; }

/*** COLORS ***/
.offwhite {color: #f5f7fa !important;}
.red {color: #dc0026 !important;}


/*** STYLE ELEMENTS ***/
.hero-is-dark {
    background-color: #69707a;
		color: #f5f7fa;
		background-image: -webkit-linear-gradient(309deg, #495a67 0%, #69707a 71%, #6e768e 100%);
    background-image: linear-gradient(141deg, #495a67 0%, #69707a 71%, #6e768e 100%);
}


